html, body {
  height: 100%;
}
#container
{
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
}
#library-pic
{
    display: flex;
    min-height: 100%;
    min-width: 20%;
    background-image: url('pexels-dids-5499560.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
#logo-container
{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 50rem;
    height: fit-content;
    width: 100%;
    background-color:rgba(255,255,255,0.3);
    justify-content: center;
    text-align: center;
}
.logo
{
    font-size: 24px;
    font-family: Garamond;
    color:rgb(49, 14, 14);
    font-weight: bold;
    font-style: italic;
}
#books-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.08fr 0.75fr 1fr 0.07fr;
    background-color: azure;
    min-width: 80%;
    min-height: 100%;
}

.header
{
    display: flex;
    background-color: rgb(49, 14, 14);
    width: 100%;
    color: white;
    font-size: 32px;
    font-family: Garamond;
    justify-content: center;
}
.header>div{
    font-weight: bold;
    padding: 12px;
}
#add-book
{
    display: flex;
    justify-content: center;
}
button
{
    background-color: rgb(49, 14, 14);
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    height: 2rem;
    width: 8rem;
}

.books
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.08fr 0.92fr;
    min-height: 100%;
    min-width: 100%;
}
.books-card-container
{
    display: grid;
    height: 100%;
    width: 100%;
    resize: both;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px,0.25fr));
    grid-template-rows: repeat(auto-fit,250px);
    gap:15px;
    padding:10px
}
.books-card-container>div
{
  border:solid maroon
}

.open-button {
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    width: 280px;
  }
  
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
 
  .form-container input[type=text]{
    width: 88%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .checkbox-container {
    display: grid;
    width: 100%;
    width: 100%;
    grid-template-columns: 0.8fr 0.2fr;
    margin: 5px 0 22px 0;
    
  }
  
  
  .form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  

  .form-container .btn {
    background-color: rgb(23, 88, 88);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
 
  .form-container .cancel {
    background-color: red;
  }
  
 
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
.book-card{
  display:grid;
  grid-template-rows: repeat(4,0.25fr);
  padding:10px;
  gap: 10px;
}
.book-card-div{
  display:flex;
  padding:2px;
  font-size:20px;
}
.read-unread{
  background-color:rgb(23, 88, 88);
  opacity: 0.8;
}
.book-delete
{
  background-color:red;
  opacity: 0.7;
}
.book-delete:hover
{
  opacity: 1;
}
.read-unread:hover
{
  opacity: 1;
}
